####################################
# PYTHON
####################################

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Python cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

####################################
# JUPYTER
####################################

.ipynb_checkpoints/

####################################
# VS CODE
####################################

.vscode/
.history/

####################################
# ENV / SECRETS
####################################

.env
.env.*
*.key
*.pem

####################################
# DATABASES
####################################

*.db
*.sqlite3

####################################
# LOGS
####################################

*.log
logs/

####################################
# DATASETS (jeśli duże)
####################################

data/raw/
data/tmp/
data/generated/

####################################
# MODEL FILES (wytrenowane modele)
####################################

models/
*.pkl
*.joblib

####################################
# DOCKER
####################################

docker-compose.override.yml

####################################
# SYSTEM
####################################

.DS_Store
Thumbs.db
